{% extends "layout.html.twig" %}

{% block title "Mes articles" %}

{% block body %}

    <h1>Bienvenue sur le blog</h1>

    <ul>
        <li>
            <a href="{{ path('blog.show', {slug: 'app-1'})}}">App 1</a>
        </li>
    </ul>

{% endblock %} 