{% extends "layout.html.twig" %}

{% block title post.name %}

{% block body %}

<h1>Bienvenue sur l'article {{ post.name }}</h1>

<p>{{ post.content | nl2br }}</p>
<a href="{{ path('blog.index')}}">Retour</a>
{% endblock %}